:root {
  --white-color: #ffffff;
  --secondry-text-color: #434455;
  --primary-text-color: #2e2f42;
  --color-focus: #404bbf;
  --color-button: #4D5AE5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondry-text-color);
  background-color: var(--white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  color: var(--primary-text-color);
}

.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-focus);
}

.address {
  font-style: normal;
}

.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondry-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-focus);
}

.hero-image {
  background: #2e2f42;
}

.business-solutions {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color)
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--color-button);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-focus);
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-madia {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.item {
  background-color: var(--white-color);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondry-text-color);
  letter-spacing: 0.02em;
}

.footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.footer-studio {
  color: #f4f4fd;
}

footer {
  background: #2e2f42;
}

.footer-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}



.button {
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--color-button);
background: #F4F4FD;
}

.button:hover,
.button:focus {
  color:var(--white-color);
  background-color:var(--color-button);
}


.desc {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
} 

.page-desc {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--secondry-text-color);
}
